.header-container {
    display: flex;
    align-items: center;
    box-shadow: 2px 5px 11px -8px rgba(0, 0, 0, 0.4);
}

.header-navigation {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo > a > img {
    height: 1.875rem;
    width: 10.625rem;
}

.search-icon {
    cursor: pointer;
}

.search-icon > img {
    height: 1.5rem;
    width: 1.5rem;
}